---
---

@import url("https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

#nav-button{
    width: 28px;
    height: 28px;
    opacity: 1;
    background: #f46c63;
    padding: 0;
    border-radius: 50%;
    top: 70px;
    left: -12px;
}

#nav-button.open{
    left:214px
}

#nav-button span{
    color: transparent;
    width: 0;
    height: 0;
    background: transparent;
    padding: 0;
    transform: initial;
    position: absolute;
    top: 0;
    line-height: 0;
    top: 6px;
    left: 6px;
}

.content {
    padding-bottom: 100vh;
}

.content > table {
    font-size: 12px;
}

.content{ h1 {
    font-size: 24px;
    margin-bottom: 0;
    
    &:first-child {
        padding-top: 60px
    }
    }
    > .highlighter-rouge{
        clear: none;
    }
}

.content>h1,.content>h2,.content>h3,.content>h4,.content>h5,.content>h6,.content>p,.content>table,.content>ul,.content>ol,.content>aside,.content>dl {
    padding-left: 24px;
    border: 0;
    background: transparent;
    list-style-position: inside;
}

.content table tr:last-child,.content table th {
    border: 0;
}

.content table thead {
    text-transform: uppercase
}

.content table tr:nth-child(odd)>td {
    background-color: #00000008;
}

.content aside.warning {
    color: #f46c63;
    background: #f46c631f;
}

.toc-wrapper {
    display: flex;
    flex-direction: column;
    background: #231F20;
    font-family: 'Overpass Mono', monospace
}

.toc-wrapper .logo {
    margin: 0;
    height: 20px;
    width: 50px;
    padding: 15px 0 15px 25px;
}


.toc-wrapper .toc-footer {
    margin-top: 0;
    flex: 1;
    border: 0
}
.toc-wrapper>ul {
    padding: 0 20px;
}







.toc-list-h1 li ul li a {
    padding-left: 25px;
    font-size: 12px;
    font-weight: 500;
}
.toc-list-h1>li>ul{
    overflow: hidden;
    max-height: 0;
    transition: all .2s;
    height: auto;
    &.active-parent{
        max-height: 250px;
    }
}

.toc-list-h1>li>a.active+ul{
    max-height: 200px;
}

.toc-list-h1 .toc-list-h2 {
    background: transparent
}


input#input-search {
    padding-left: 30px
}

.search {
    display: none
}

.toc-footer li {
    display: none
}

.toc-list-h1 a {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 12px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    opacity: .5;
    line-height: 1.2em;
      // This is the currently selected ToC entry
  &.active {
    background-color: rgba(144, 142, 143, 0.51);
  }


}

.toc-list-h1 a.active,.toc-list-h1 a:hover {
    opacity: 1;
}

.content pre>code {
    font-family: 'Overpass Mono', monospace
}

#toc{
    padding-top: 30px
}

.content>h3 {
    font-weight: 500;
}

.content>h2 {
    padding-bottom: 10px;
}
.logowrapper {
    background: #F46C63;
}


.gray{
    background: #fafafa;
    body{
        background: initial;
    }
}

.home h1{
    color: #1D1B1C;
    font-size: 15px;
    letter-spacing: 0.23px;
}

.home a, .home p{
    text-decoration: none;
    color: #777777;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.home_header {
    width: 320px;
    background: white;
    padding: 108px 26px 40px 40px;
    box-sizing: border-box;
    min-height: 100vh;
    float: left;
    margin-right: 30px;
    h1 {
        letter-spacing: 0.3px;
    }
}


.home_content {
    padding: 100px 44px 0 30px; 
}

.home_left{
    width: 228px;
    float: left;
    margin-right: 20px;

}

.home_left a {
    height: 274px;
    display: block;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center 50px;
    text-align: center;
    margin: 0 0 20px;
    box-shadow: 0px 1px 4px #0000000F;
    border-radius: 20px;

}

.home_left a, .home_product, .sub-product{
       transition: all 0.3s;

    &:hover{
        box-shadow: 0px 1px 24px #00000014;
        transform: scale(1.01)

    }
}

.home_left a h1 {
    padding-top: 146px;
    margin-top: 0;
}

.home_right {
    background: white;
    float: left;
    box-shadow: 0px 1px 4px #0000000F;
    border-radius: 20px;
}


.home_products_left{
    float: left;
    padding: 0 30px 20px 20px;
}


.home_products_right{
    width: 304px;
    float: left;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    text-align: center;
    margin: 20px 20px 20px 0;
    padding: 20px;
    box-sizing: border-box;
    h1{
        font-weight: 500;
    }
}

.home_products_header{
    margin: 30px 0 0 30px;
    padding: 12px 0 20px 84px;
    background: url('/assets/images/ic_products.svg') no-repeat ;

    h1{
        margin: 0;
    }
    p{
        padding: 0;
        margin: 0;
    }
}
a.home_product{
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    width: 254px;
    h1 {
        font-weight: 500;
    }
}

a.sub-product {
    display: block;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    margin: 20px 0 ;
    line-height: 50px;
}

.assets{
    background-image: url('/assets/images/ic_assets.svg');
}

.poc{
    background-image: url('/assets/images/ic_poc.svg');
}


@media (max-width: 1315px) {
    .home_header{
        width: 100%;
        min-height: auto;
        margin-bottom: 30px;
        padding-top: 38px;
    }

}

@media(max-width: 992px){
    
    .home_left{
        width: 100%;
    }
    .home_products_header{
        width: 110px;
        margin: 30px auto 0;
    }
    .home_products{
        width: calc(100vw - 80px);
        box-sizing: border-box;
    }
    a.home_product{
        width: calc(100vw - 160px);
    }

    .home_products_right{
        width: calc(100vw - 120px);
        margin-left: 20px;
    }
}
