---
---

@import url("https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

#nav-button{
    width: 28px;
    height: 28px;
    opacity: 1;
    background: #f46c63;
    padding: 0;
    border-radius: 50%;
    top: 70px;
    left: -12px;
}

#nav-button.open{
    left:214px
}

#nav-button span{
    color: transparent;
    width: 0;
    height: 0;
    background: transparent;
    padding: 0;
    transform: initial;
    position: absolute;
    top: 0;
    line-height: 0;
    top: 6px;
    left: 6px;
}

.content {
    padding-bottom: 100vh;
}

.content > table {
    font-size: 12px;
}

.content{ h1 {
    font-size: 24px;
    margin-bottom: 0;
    
    &:first-child {
        padding-top: 60px
    }
    }
    > .highlighter-rouge{
        clear: none;
    }
}

.content>h1,.content>h2,.content>h3,.content>h4,.content>h5,.content>h6,.content>p,.content>table,.content>ul,.content>ol,.content>aside,.content>dl {
    padding-left: 24px;
    border: 0;
    background: transparent;
    list-style-position: inside;
}

.content table tr:last-child,.content table th {
    border: 0;
}

.content table thead {
    text-transform: uppercase
}

.content table tr:nth-child(odd)>td {
    background-color: #00000008;
}

.content aside.warning {
    color: #f46c63;
    background: #f46c631f;
}

.toc-wrapper {
    display: flex;
    flex-direction: column;
    background: #231F20;
    font-family: 'Overpass Mono', monospace
}

.toc-wrapper .logo {
    margin: 0;
    height: 20px;
    width: 50px;
    padding: 15px 0 15px 25px;
}


.toc-wrapper .toc-footer {
    margin-top: 0;
    flex: 1;
    border: 0
}
.toc-wrapper>ul {
    padding: 0 20px;
}







.toc-list-h1 li ul li a {
    padding-left: 25px;
    font-size: 12px;
    font-weight: 500;
}
.toc-list-h1>li>ul{
    overflow: hidden;
    max-height: 0;
    transition: all .2s;
    height: auto;
    &.active-parent{
        max-height: 250px;
    }
}

.toc-list-h1>li>a.active+ul{
    max-height: 200px;
}

.toc-list-h1 .toc-list-h2 {
    background: transparent
}


input#input-search {
    padding-left: 30px
}

.search {
    display: none
}

.toc-footer li {
    display: none
}

.toc-list-h1 a {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 12px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    opacity: .5;
    line-height: 1.2em;
      // This is the currently selected ToC entry
  &.active {
    background-color: rgba(144, 142, 143, 0.51);
  }


}

.toc-list-h1 a.active,.toc-list-h1 a:hover {
    opacity: 1;
}

.content pre>code {
    font-family: 'Overpass Mono', monospace
}

#toc{
    padding-top: 30px
}

.content>h3 {
    font-weight: 500;
}

.content>h2 {
    padding-bottom: 10px;
}
.logowrapper {
    background: #F46C63;
}