---
layout: default
---
<div class="home">
	<div class="home_header">
		<img src="/assets/images/ic_voi.svg" >
		{{ content }}
	</div>

	<div class="home_content">
		<div class="home_left">
			<a class="assets" href="/assets/">
				<h1>Assets</h1>
				<p>Graphics, legal documents</p>
			</a>
			<a class="poc" href="/poc/">
				<h1>Points of contact</h1>
				<p>Who to contact about what.</p>
			</a>
		</div>
		<div class="home_right">
			<div class="home_products_header">
				<h1>Products</h1>
				<p>Available API:s</p>
			</div>

			<div class="home_products">
				<div class="home_products_right">
					<h1>Light integrations</h1>
					<p>A read only API, containing MDS, GBFS and Zone data.<a></a>
					<a class="sub-product" href="/checklist-light/">Light Integration checklist</a>
					<a class="sub-product" href="/light-integration-and-data-sharing/">Technical specification: GBFS and MDS APIs</a>
					<a class="sub-product" href="/deeplinks/">Deeplinks</a>
				</div>
				<div class="home_products_right">
					<h1>Deep integrations</h1>
					<p>A MaaS API, used for completing full user journeys.<a>
					<a class="sub-product" href="/checklist-deep/">Deep Integration checklist</a>
					<a class="sub-product" href="/deep-integration/">Technical specification: MaaS API</a>
					<a class="sub-product"  href="/customer-support/">Customer support</a>
					<a class="sub-product" href="/payments/">Payments</a>
				</div>
			</div>
		</div>

	</div>
</div>
